{
	"presets": ["next/babel"],
	"plugins": [
		[
			"styled-components",
			{
				"ssr": true,
				"displayName": false,
				"fileName": false,
				"pure": true,
				"preprocess": false
			}
		]
	],
	"env": {
		"production": {
			"plugins": [
				[
					"react-remove-properties",
					{
						"properties": [
							"data-testid"
						]
					}
				]
			]
		}
	}
}
