*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: 400;
	color: $text;
	background-color: $gray-200;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

a {
	text-decoration: underline;
	color: $primary;

	&:hover {
		text-decoration: none;
		color: $primary-hover;
	}
}

input,
textarea {
	background-color: $gray-100;

	&:focus {
		outline: none;
	}

	&:disabled {
		background-color: $gray-200;
	}
}

img {
	border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 8px;
	font-weight: 600;
	line-height: 1.2;
	color: $drak;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

p {
	margin-top: 0;
	margin-bottom: 16px;
}
